.card {
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  background: #f8f8f8;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0.25rem 0.25rem black;
  translate: -0.25rem -0.25rem;
}

.card > h2 {
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  border-left: 0.5rem solid #97d7d7;
}

.card > img {
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
  border: 0.1rem solid black;
}

.card:hover > img {
  translate: -0.25rem -0.25rem;
  box-shadow: 0.25rem 0.25rem #FEA6CA;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tag {
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
}
