.image-wrapper {
    display: flex;
    max-width: 100%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .character-image {
    width: 50%; /* Ajuste conforme necessário */
    height: auto;
  }
  
  .character-info {
    padding: 20px;
    width: 50%;
    position: relative; /* Para posicionar a tag de status */
  }
  
  .status-tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    left: -1px; /* Para alinhar com a borda do container */
    font-weight: bold;
  }
  
  .character-name {
    font-family: 'Comic Sans MS', 'Comic Neue', cursive; /* Exemplo de fonte mais estilizada */
    margin: 0;
    padding-top: 50px; /* Espaço para a tag de status */
  }
  
  .character-details {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
    border-left: 2px dashed #333;
    padding-left: 20px;
  }
  
  .detail-item {
    display: contents;
  }
  
  .detail-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .detail {
    text-align: left;
    padding-left: 10px;
  }
  
  /* Adicionar responsividade se necessário */
  @media (max-width: 768px) {
    .image-wrapper {
      flex-direction: column;
    }
  
    .character-image, .character-info {
      width: 100%;
    }
  
    .status-tag {
      left: 20px;
    }
  }
  